<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mystore.business.dao.BrandMapper">
    <select id="getBrandById" parameterType="int" resultType="brand">
		select
		    id,
		    id_cate,
		    pid,
		    name,
		    rome,
		    jianpin as 'jianPin',
		    enname as 'enName',
		    keywords as 'keyWords',
		    descr,
		    status,
		    path_logoimg_fir,
		    path_logoimg_sec,
		    url,
		    sort,
		    createdate as 'createDate',
		    lastdate as 'lastDate'
		from brand 
		where id = #{value}
	</select>
	<select id="selectBrandListByCateId" parameterType="int" resultType="brand">
		select
		    id,
		    id_cate,
		    pid,
		    name,
		    rome,
		    jianpin as 'jianPin',
		    enname as 'enName',
		    keywords as 'keyWords',
		    descr,
		    status,
		    path_logoimg_fir,
		    path_logoimg_sec,
		    url,
		    sort,
		    createdate as 'createDate',
		    lastdate as 'lastDate'
		from brand  
		where id_cate = #{value}
	</select>
</mapper>