<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mystore.business.dao.BrandMapper">
    <select id="getBrandById" parameterType="int" resultType="brand">
		select
		    id,
		    id_cate,
		    pid,
		    pids,
		    name,
		    rome,
		    jianpin as 'jianPin',
		    enname as 'enName',
		    keywords as 'keyWords',
		    descr,
		    status,
		    path_logoimg_fir,
		    path_logoimg_sec,
		    url,
		    sort,
		    createdate as 'createDate',
		    lastdate as 'lastDate'
		from brand 
		where id = #{value}
	</select>
	<select id="selectBrandListByCateId" parameterType="int" resultType="brand">
		select
		    id,
		    id_cate,
		    pid,
		    pids,
		    name,
		    rome,
		    jianpin as 'jianPin',
		    enname as 'enName',
		    keywords as 'keyWords',
		    descr,
		    status,
		    path_logoimg_fir,
		    path_logoimg_sec,
		    url,
		    sort,
		    createdate as 'createDate',
		    lastdate as 'lastDate'
		from brand  
		where id_cate = #{value}
	</select>
	<select id="selectAllBrandListByCateId" parameterType="int" resultType="brand">
		select distinct
		    b.id,
		    b.id_cate,
		    b.pid,
		    b.pids,
		    b.name,
		    b.rome,
		    b.jianpin as 'jianPin',
		    b.enname as 'enName',
		    b.keywords as 'keyWords',
		    b.descr,
		    b.status,
		    b.path_logoimg_fir,
		    b.path_logoimg_sec,
		    b.url,
		    b.sort,
		    b.createdate as 'createDate',
		    b.lastdate as 'lastDate'
		from brand b ,category c
		where b.id_cate IN (SELECT t.id FROM category t WHERE FIND_IN_SET(#{value},t.pids) ) OR b.id_cate = #{value};
	</select>
	<select id="selectBrandListByPid" parameterType="int" resultType="brand">
		select
		    id,
		    id_cate,
		    pid,
		    pids,
		    name,
		    rome,
		    jianpin as 'jianPin',
		    enname as 'enName',
		    keywords as 'keyWords',
		    descr,
		    status,
		    path_logoimg_fir,
		    path_logoimg_sec,
		    url,
		    sort,
		    createdate as 'createDate',
		    lastdate as 'lastDate'
		from brand  
		where pid = #{value}
	</select>
</mapper>