<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mystore.business.dao.CategoryMapper">
    <select id="getCateById" parameterType="int" resultType="category">
		select
		    id,
		    pid,
		    pids,
		    name,
		    rome,
		    jianpin as 'jianPin',
		    enname as 'enName',
		    keywords as 'keyWords',
		    descr,
		    status,
		    sort,
		    createdate as 'createDate',
		    lastdate as 'lastDate'
		from category 
		where id = #{value}
	</select>
	<select id="selectCateListByPid" parameterType="int" resultType="category">
		select
		    id,
		    pid,
		    pids,
		    name,
		    rome,
		    jianpin as 'jianPin',
		    enname as 'enName',
		    keywords as 'keyWords',
		    descr,
		    status,
		    sort,
		    createdate as 'createDate',
		    lastdate as 'lastDate'
		from category 
		where pid = #{value}
	</select>
</mapper>