<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mystore.business.dao.InfoMapper">
	<resultMap type="infoCate" id="infoCateMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<collection property="infos" select="getInfoByPid" column="id"/>
	</resultMap>
	<select id="getInfoCateByPid" parameterType="int" resultMap="infoCateMap">
		select
		    id,
		    name
		from info_cate 
		where pid = #{value}
		order by sort asc
	</select>
	<select id="getInfoByPid" parameterType="int" resultType="info">
		select
		    i.id,
		    i.title
		from info i
		where i.id_cate = #{value}
		order by i.sort asc
	</select>
	<select id="getInfoCateByBh" parameterType="string" resultType="infoCate">
		select
		    id,
		    name
		from info_cate 
		where bh = #{value}
	</select>
	<select id="getInfoList" parameterType="string" resultType="info">
		select
		    i.id,
		    i.id_cate,
		    i.title,
		    i.sort,
		    i.content,
		    i.status,
		    i.createdate as 'createDate',
		    i.lastdate as 'lastDate'
		from info i,info_cate c 
		<include refid="queryInfoCondition"/>
		order by status desc, sort asc
	    <if test="pageIndex != null and pageSize != null">
               limit #{pageIndex},#{pageSize}
        </if> 
	</select>
	<select id="getInfoCount" parameterType="string" resultType="int">
	    select  count(*)
		from info i,info_cate c 
		<include refid="queryInfoCondition"/>
	</select>
	<select id="getInfoById" parameterType="int" resultType="info">
		select
		    id,
		    id_cate,
		    title,
		    sort,
		    content,
		    status,
		    createdate as 'createDate',
		    lastdate as 'lastDate'
		from info
		where id = #{value}
	</select>
	<sql id="queryInfoCondition">
	    <trim prefix="WHERE" prefixOverrides="AND">
	          c.id = i.id_cate
              <if test="id != null">
                  	and i.id = #{id}
              </if>  
              <if test="id_cate != null">
                  	and i.id_cate = #{id_cate}
              </if>  
              <if test="title != null">
                	and  i.title like CONCAT('%',#{title},'%')  
              </if>
              <if test="status != null">
	        		and i.status = #{status}
		      </if> 
		      <if test="bh != null">
	        		and c.bh = #{bh}
		      </if>                       
		</trim>
	</sql>

</mapper>