<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mystore.business.dao.UserAddressMapper">
    <select id="getByUserId" parameterType="int" resultType="userAddress">
		select
		    t.id,
		    t.id_user,
		    t.address,
		    t.receiver,
		    t.mobile,
		    t.isdefault as 'isDefault',
		    t.status,
		    t.createdate as 'createDate',
		    t.lastdate as 'lastDate',
		    t.provinceid as 'provinceId',
		    (select r.name from region r where r.id = t.provinceid) as 'provinceName',
		    t.cityid as 'cityId',
		    (select r.name from region r where r.id = t.cityid) as 'cityName',
		    t.countyid as 'countyId',
		    (select r.name from region r where r.id = t.countyid) as 'countyName'
		from user_address t
		where t.id_user = #{value} and t.status = '1' order by t.isdefault desc
	</select>
	<select id="getById" parameterType="java.util.Map" resultType="userAddress">
		select
		    t.id,
		    t.id_user,
		    t.address,
		    t.receiver,
		    t.mobile,
		    t.isdefault as 'isDefault',
		    t.status,
		    t.createdate as 'createDate',
		    t.lastdate as 'lastDate',
		    t.provinceid as 'provinceId',
		     (select r.name from region r where r.id = t.provinceid) as 'provinceName',
		    t.cityid as 'cityId',
		    (select r.name from region r where r.id = t.cityid) as 'cityName',
		    t.countyid as 'countyId',
		    (select r.name from region r where r.id = t.countyid) as 'countyName'
		from user_address t
		where t.id_user = #{id_user} and t.id = #{id} and t.status = '1'
	</select>
	<insert id="saveAddress" parameterType="userAddress" useGeneratedKeys="true" keyProperty="id">
		insert into user_address(
		    id_user,
		    address,
		    receiver,
		    mobile,
		    isdefault,
		    status,
			createdate,
			lastdate,
			provinceid,
		    cityid,
		    countyid
		 )values(
		    #{id_user},
		    #{address},
		    #{receiver},
		    #{mobile},
		    '0',
		    '1',
		    now(),
		    now(),
		    #{provinceId},
		    #{cityId},
		    #{countyId}
		 )
	</insert>
	<update id="updateAddress" parameterType="userAddress">
		 update user_address set receiver = #{receiver},mobile = #{mobile},isdefault = #{isDefault},status = #{status},lastdate = now(),
		 address = #{address},provinceid = #{provinceId},cityid = #{cityId},countyid = #{countyId}
		 where id_user = #{id_user} and id = #{id}
	</update>
	<delete id="delAddress" parameterType="java.util.Map">
		 delete from user_address 
		 where id_user = #{id_user} and id = #{id}
	</delete>
</mapper>