<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mystore.business.dao.UserStatisticsMapper">
	<resultMap type="userStatistics" id="userStatisticsMap">
		<result property="userId" column="id_user" />
		<result property="amountOrder" column="amount_order" />
		<result property="amountOrderIng" column="amount_order_ing" />
		<result property="amountWithdrawFreeze" column="amount_withdraw_freeze" />
		<result property="amountCashBack" column="amount_cashback" />
	</resultMap>
	<select id="getUserStatisticsByUserId" parameterType="int" resultMap="userStatisticsMap">
	    select  u.id,
				COALESCE(SUM(amount_order),0) AS 'amount_order',
				COALESCE(SUM(amount_order_ing),0) AS 'amount_order_ing',
				COALESCE(SUM(amount_withdraw_freeze),0) AS 'amount_withdraw_freeze',
				COALESCE((CASE
				    WHEN ua.type = '0' 
				    THEN SUM(amount_cashback) 
				    ELSE SUM(0) 
				  END),0) AS 'amount_cashback' 
		from statistics_account sa,user_account ua,user_user u
	    where  sa.id_account = ua.id and ua.id_user = u.id and u.id = #{userId}
	</select>
</mapper>