.cart{
	width:100%;
	height:auto;
	text-align:center;
	margin:20px auto;
}
.title{
    background: #f3f3f3 none repeat scroll 0 0;
    border-image: none;
    border: 1px solid #e9e9e9;
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 0 0 10px;
    padding: 5px 0px;
}
.column{
	float: left;
}
.checkBox{
	width: 122px;
	text-align:left;
	margin-left:10px;
}
.goods{
	width: 208px;
}
.props {
	width:140px;
    height: 32px;
    padding: 0 20px;
}
.markPrice,.price {
    padding-right: 40px;
    text-align: right;
    width: 120px;
}
.count{
	text-align: center;
    width: 80px;
}
.sum{
	padding-right: 40px;
    text-align: right;
    width: 100px;
}
.op{
    width: 75px;
}
.list{
	width:100%;
	height:auto;
}
.item{
	height:auto;
	margin-bottom: 10px;
	background: #fff none repeat scroll 0 0;
    border-color: #aaa #f1f1f1 #f1f1f1;
    border-style: solid;
    border-width: 2px 1px 1px;
}
.cell{
	float: left;
    padding: 15px 0 10px;
}
.goods-item{
    clear: both;
    display: block;
    height: 0;
}
.p-checkBox{
    width: 30px;
}
.p-goods{
	width: 300px;
}
.p-props{
	height: 80px;
    line-height: 20px;
    overflow: hidden;
    padding: 15px 10px 0;
}
.props-txt {
    width: 160px;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.p-img {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    float: left;
    height: 80px;
    margin-right: 10px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 80px;
}
.p-img img{
	height:80px;
	line-height:80px;
}
.p-name {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
.p-price {
    font-family: verdana;
    padding-right: 40px;
    text-align: right;
    width: 130px;
}
.p-price strong {
    color: #333;
    display: block;
    font-weight: 400;
}
.p-count{
	width: 80px;	
}
.count-form {
    height: 22px;
    overflow: hidden;
    position: relative;
    width: 80px;
}
.decrement{
	float:left;
    color: #e9e9e9;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #cacbcb -moz-use-text-color #cacbcb #cacbcb;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #666;
    height: 18px;
    line-height: 18px;
    margin: 0;
    padding: 1px 0;
    text-align: center;
    width: 16px;
}
.increment {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #cacbcb #cacbcb #cacbcb -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    color: #666;
    float: right;
    background: #fff none repeat scroll 0 0;
    height: 18px;
    line-height: 18px;
    margin: 0;
    padding: 1px 0;
    text-align: center;
    width: 16px;
}
 .itxt {
    float:left;
    border: 1px solid #cacbcb;
    color: #333;
    font-family: verdana;
    font-size: 12px;
    height: 18px;
    left: 17px;
    line-height: 18px;
    margin: 0;
    padding: 1px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 42px;
}
.p-sum {
    font-family: verdana;
    padding-right: 40px;
    text-align: right;
    width: 100px;
}
.p-sum strong {
    color: #333;
    font-weight: 700;
}
.p-op {
    width: 75px;
}
.toolbar{
    border-image: none;
    border: 1px solid #e9e9e9;
    display: block;
    height: 52px;
    line-height: 52px;
    margin: 0 0 10px;
    padding:0px;
}
.toolbar-right {
	float:right;
    width: 610px;
}
.btn-area {
    float: right;
}
.submit-btn {
    background: #e54346 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    height: 52px;
    line-height: 52px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 96px;
}
.submit-btn b {
    background: rgba(0, 0, 0, 0) url("../../images/cart-submit-btn.png") no-repeat scroll 0 0;
    display: block;
    height: 52px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 96px;
}
.price-sum {
    color: #666;
    float: right;
    height: 43px;
    line-height: 20px;
    margin: 7px 20px 0 10px;
    position: relative;
    width: auto;
}
.txt-new {
    width: 50px;
}
.price-sum .price {
    display: inline-block;
    font-family: verdana;
    text-align: right;
    width:62px;
}
.price-sum .price em {
    color: #e4393c;
    font-size: 16px;
    font-weight: 700;
}
.price-sum .txt {
    color: #999;
    float: left;
    text-align: right;
    width: 50px;
}
.amount-sum {
    color: #999;
    cursor: pointer;
    float: right;
    height: 44px;
    line-height: 20px;
    margin: 7px 0 0;
}
.amount-sum em {
    color: #e4393c;
    font-family: verdana;
    font-weight: 700;
    margin: 0 3px;
}