.list_left{
	float:left;
	width:190px;
	height:auto;
}
.list_right{
	float:right;
	width:780px;
	height:300px;
	border:1px solid #e4e4e4;
	margin-bottom: 10px;
    padding: 10px;
}
.list_left h1 {
    background-color: #c40001;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 51px;
    width: 100%;
}
.list_left h1 i{
    background: rgba(0, 0, 0, 0) url("../../images/icon_1.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 21px;
    line-height: 21px;
    margin-top: 7px;
    padding-left: 21px;
    vertical-align: text-bottom;
    background-position: 2px -21px;
}
.list_left h1 a{
	height: 51px;
	line-height: 51px;
}
.list_left h1 span{
	margin-left:10px;
    color:#fff;
}
.userInfo{
	padding: 10px 0;
	background-color: #fef3f4;
    border: 1px solid #e4e4e4;
}
.userInfo .headImg img{
	width:68px;
	height:68px;
}

.userInfo .userName {
    color: #c40001;
    height: 18px;
    margin: 10px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.navList {
    background-color: #fbfbfb;
    border: 1px solid #e4e4e4;
    border-top:0px;
    height: auto;
    overflow: hidden;
    width: 188px;
}
.navList .func{
	 margin-left: 0px;
}
.func .title {
    height: 22px;
    margin: 10px 0;
    text-align:left;
    margin-left:20px;
}
.func .title i {
    background: rgba(0, 0, 0, 0) url("../../images/user.png") no-repeat scroll 0 0;
    display: inline-block;
    margin-right: 11px;
    margin-top: 2px;
}
.func.func1 .title i {
    background-position: -61px 0;
    height: 17px;
    width: 19px;
}
.func .title span {
    color: #333;
    display: inline-block;
    font-family: "微软雅黑";
    font-size: 15px;
}
.func .item.on {
    color: #cc0000;
}
.func .item {
    cursor: pointer;
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 0 28px 0 53px;
}
.func .item span {
    display: inline-block;
    float: left;
}
.func .item i {
    background: rgba(0, 0, 0, 0) url("../../images/user.png") no-repeat scroll -200px 0;
    display: inline-block;
    float: right;
    height: 9px;
    margin-top: 10px;
    width: 5px;
}
.func .item.on i {
    background: rgba(0, 0, 0, 0) url("../../images/user.png") no-repeat scroll -484px -73px;
}

.func.func2 .title i {
    background-position: -96px 0;
    height: 18px;
    margin-right: 12px;
    width: 18px;
}
.func.func3 .title i {
    background-position: -163px 0;
    height: 19px;
    width: 19px;
}