<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  

   <typeAliases>  
      <typeAlias alias="docPoJo" type="com.mystore.business.dto.DocPoJo"/>  
      <typeAlias alias="category" type="com.mystore.business.dto.Category"/>  
      
      <typeAlias alias="advProModule" type="com.mystore.business.dto.AdvProModule"/>
      <typeAlias alias="advResourceModule" type="com.mystore.business.dto.AdvResourceModule"/>
      <typeAlias alias="advImg" type="com.mystore.business.dto.AdvImg"/>
      
      <typeAlias alias="infoCate" type="com.mystore.business.dto.InfoCate"/>
      <typeAlias alias="info" type="com.mystore.business.dto.Info"/>
      
      <typeAlias alias="basicAttri" type="com.mystore.business.dto.BasicAttri"/>
      <typeAlias alias="basicAttriValue" type="com.mystore.business.dto.BasicAttriValue"/>
           
      <typeAlias alias="category" type="com.mystore.business.dto.Category"/>
      <typeAlias alias="cateAttri" type="com.mystore.business.dto.CateAttri"/>
      
      <typeAlias alias="product" type="com.mystore.business.dto.Product"/>
      <typeAlias alias="proInfo" type="com.mystore.business.dto.ProInfo"/>
      <typeAlias alias="proPrice" type="com.mystore.business.dto.ProPrice"/>
      <typeAlias alias="proImg" type="com.mystore.business.dto.ProImg"/>
      <typeAlias alias="proAttr" type="com.mystore.business.dto.ProAttr"/>
      
      <typeAlias alias="brand" type="com.mystore.business.dto.Brand"/>
      <typeAlias alias="brandInfo" type="com.mystore.business.dto.BrandInfo"/>
      
      <typeAlias alias="comment" type="com.mystore.business.dto.Comment"/>
      <typeAlias alias="commentReply" type="com.mystore.business.dto.CommentReply"/>
      <typeAlias alias="consult" type="com.mystore.business.dto.Consult"/>
      <typeAlias alias="consultReply" type="com.mystore.business.dto.ConsultReply"/>
      
      <typeAlias alias="user" type="com.mystore.business.dto.User"/>
      
      <typeAlias alias="userCart" type="com.mystore.business.dto.UserCart"/>
      <typeAlias alias="userAddress" type="com.mystore.business.dto.UserAddress"/>
      
      <typeAlias alias="order" type="com.mystore.business.dto.Order"/>
      <typeAlias alias="orderProduct" type="com.mystore.business.dto.OrderProduct"/>
      <typeAlias alias="orderInvoice" type="com.mystore.business.dto.OrderInvoice"/>
      <typeAlias alias="orderShipAddress" type="com.mystore.business.dto.OrderShipAddress"/>
      
      <typeAlias alias="payLog" type="com.mystore.business.dto.PayLog"/>
   </typeAliases>  
   <mappers>  
      <mapper resource="com/mystore/business/dao/SearchMapper.xml" />   
      <mapper resource="com/mystore/business/dao/CategoryMapper.xml" />  
      
      <mapper resource="com/mystore/business/dao/AdvProModuleMapper.xml" />
      <mapper resource="com/mystore/business/dao/AdvResourceModuleMapper.xml" />
      <mapper resource="com/mystore/business/dao/AdvImgMapper.xml" />
      <mapper resource="com/mystore/business/dao/InfoMapper.xml" />
      
      <mapper resource="com/mystore/business/dao/ProductMapper.xml" />
      
      <mapper resource="com/mystore/business/dao/CommentMapper.xml" />
      <mapper resource="com/mystore/business/dao/ConsultMapper.xml" />
      
      <mapper resource="com/mystore/business/dao/UserMapper.xml" />
      <mapper resource="com/mystore/business/dao/UserAddressMapper.xml" />
      
      <mapper resource="com/mystore/business/dao/OrderMapper.xml" />
      <mapper resource="com/mystore/business/dao/OrderProductMapper.xml" />
      <mapper resource="com/mystore/business/dao/OrderInvoiceMapper.xml" />
      <mapper resource="com/mystore/business/dao/OrderShipAddressMapper.xml" />
      
      <mapper resource="com/mystore/business/dao/PayLogMapper.xml" />
   </mappers>  
</configuration>  
