/*==全局样式==*/
*{padding:0;margin:0;}
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a{
	border:0;
	border: medium none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img,input{border:none;vertical-align:middle;}
body{font-family:"Microsoft YaHei",Tahoma,Arial,sans-serif;font-size:12px;background:#FFF;color:#333;margin:0 auto;}
html{overflow-y:scroll;}
ul,ol{list-style-type:none;}
th,td,input{font-size:12px;}
h3{font-size:14px;}
button{border:none;cursor:pointer;font-size:12px;background-color:transparent;}
select{border-width:1px;_zoom:1;border-style:solid;padding-top:2px;font-size:12px;}
.clear{clear:both;font-size:1px;height:0;visibility:hidden;line-height:0;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
a:link,a:visited{text-decoration:none;color:#333;outline:none}
a:hover,a:active{text-decoration:none;color:#de447a;}
i, em {
    font-style: normal;
}
.homeBody{
	clear:both;
	width:1000px;
	height:auto;
    text-align:center;
    z-index: 0;
    position: relative;
    margin:0 auto;
}
.Pagination {
	clear:both;
	width:100%;
    margin: 10px 0 0;
    padding: 5px 0;
    text-align: right;
}
.Pagination a:link, .Pagination a:visited {
    border: 1px solid #cccccc;
    color: #666666;
    text-decoration: none;
    padding: 5px 10px;
}
.Pagination a {
    display: inline-block;
    margin-left: 2px;
    padding: 3px 7px 0;
}
.pager a {
    display: inline-block;
    margin-left: 2px;
    padding: 3px 7px 0;
}
.pager b{
	border: 1px solid #cccccc;
    color: red;
    text-decoration: none;
    display: inline-block;
    margin-left: 2px;
    padding: 5px 10px;
}
.clearBoth{
	clear:both;
}
